/* Estilos generales */
html {
  height: 100%;
  margin: 0;
  font-family: Georgia, sans-serif;
  position: relative;
  justify-content: center;
  align-items: center;
}

body {
  font-family: Georgia, sans-serif;
  background-color: #666FFF;
  margin: 0;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; /* Para asegurar que el contenido no se desplace fuera de la pantalla */
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background-color: #3c079e6c;
  backdrop-filter: blur(1px);
  animation: moverArriba 2s ease-out forwards;
  color: rgb(165, 158, 158);
  text-align: center;
  line-height: 20px;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: #57219486;
  animation: moverAbajo 2s ease-out forwards;
  backdrop-filter: blur(1.5px);
  padding: 10px 0;
}

nav ul {
  list-style: none;
  display: flex; /* Esto los pone en línea horizontal */
  justify-content: space-around;
  padding: 0;
  margin: 0;
}

nav a {
  text-decoration: none;
  color: rgb(188, 250, 250);
  font-weight: bold;
  padding: 15px 35px;
  display: block;
  transition: 0.3s;
}

nav a:hover {
  background-color: #3b86b8da;
  border-radius: 10px;
}

/* Fondo animado */
.fondo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: radial-gradient(circle at center, #1a1440, #281b6f);
  background-blend-mode: overlay;
  background-size: cover;
  filter: blur(1px) brightness(0.9);
  overflow: hidden;
  z-index: -1;
}

/* Movmiento de una Celula*/
.celula {
  position: absolute;
  width: 15vmin;
  height: 15vmin;
  border-radius: 50%;
  backface-visibility: hidden;
  filter: blur(2px);
  box-shadow: 0 0 12px rgba(255, 255, 255, 0.1);
  animation: moverCelula linear infinite;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.nucleo {
  width: 4vmin;
  height: 4vmin;
  border-radius: 50%;
  filter: blur(1px);
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.384);
}

/* Celulas purpuras - impar */
.celula:nth-child(odd) {
  border: 3px solid #4d034d; /* dark purple */
  background-color: hsla(283, 90%, 15%, 0.342); 
}

.celula:nth-child(odd) .nucleo {
  background-color: hsla(320, 53%, 28%, 0.4);  /* medium orchid */
  border: 2px solid #5b0c83d3; /* purple border */
}

/* Celulas Rosa oscuro - par */
.celula:nth-child(even) {
  border: 3px solid #C71585; /* medium violet red */
  background-color: hsla(320, 81%, 46%, 0.4);
}

.celula:nth-child(even) .nucleo {
  background-color: hsla(320, 92%, 74%, 0.815);/* hot pink */
  border: 2px solid #db4b94; /* darker pink */
}

.celula:nth-child(1) {
  top: 77%;
  left: 88%;
  animation-duration: 40s;
  animation-delay: -3s;
  transform-origin: 16vw -2vh;
  box-shadow: 40vmin 0 5.703076368487546vmin rgba(0, 0, 0, 0.15); /* Sombra proyectada con su movimiento */
}

.celula:nth-child(2) {
  top: 42%;
  left: 2%;
  animation-duration: 53s;
  animation-delay: -29s;
  transform-origin: -19vw 21vh;
  box-shadow: -40vmin 0 5.17594621519026vmin rgba(0, 0, 0, 0.25);
}

.celula:nth-child(3) {
  top: 28%;
  left: 18%;
  animation-duration: 49s;
  animation-delay: -8s;
  transform-origin: -22vw 3vh;
  box-shadow: 40vmin 0 5.248179047256236vmin rgba(0, 0, 0, 0.35);
}

.celula:nth-child(4) {
  top: 50%;
  left: 79%;
  animation-duration: 26s;
  animation-delay: -21s;
  transform-origin: -17vw -6vh;
  box-shadow: 40vmin 0 5.279749632220298vmin rgba(0, 0, 0, 0.45);
}

.celula:nth-child(5) {
  top: 46%;
  left: 15%;
  animation-duration: 36s;
  animation-delay: -40s;
  transform-origin: 4vw 0vh;
  box-shadow: -40vmin 0 5.964309466052033vmin rgba(0, 0, 0, 0.55);
}

.celula:nth-child(6) {
  top: 77%;
  left: 16%;
  animation-duration: 31s;
  animation-delay: -10s;
  transform-origin: 18vw 4vh;
  box-shadow: 40vmin 0 5.178483653434181vmin rgba(0, 0, 0, 0.15);
}

.celula:nth-child(7) {
  top: 22%;
  left: 17%;
  animation-duration: 55s;
  animation-delay: -6s;
  transform-origin: 1vw -23vh;
  box-shadow: -40vmin 0 5.703026794398318vmin rgba(0, 0, 0, 0.35);
}

.celula:nth-child(8) {
  top: 41%;
  left: 47%;
  animation-duration: 43s;
  animation-delay: -28s;
  transform-origin: 25vw -3vh;
  box-shadow: 40vmin 0 5.196265905749415vmin rgba(0, 0, 0, 0.25);
}

/* Estilos para la bienvenida */
.proyectos {
  text-align: center;
  width: 75vmin;
  height: 30vmin;
  opacity: 0;
  animation: aparecer 3s forwards;
  background-color: #2a1e7736 ;
  border: 5px solid #7472ffbb;
  border-radius: 25px;
  backdrop-filter: blur(2px); /* Para blurrear lo que esté al fondo */
  z-index: 1; /* Asegura que el contenido de la bienvenida esté sobre el fondo */
}

.boton {
  padding: 12px 30px;
  font-size: 1.2rem;
  font-family: Georgia, sans-serif;
  background-color: #04a079d3;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
  transition: all 0.3s;
}

.boton:hover {
  background-color: #025a75;
}

/* Animacion de la celula */
@keyframes moverCelula {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

/* Animaciones de bienvenida */
@keyframes aparecer {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes moverArriba {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes moverAbajo {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}